<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - This Is Footer Layout - <a asp-area="" asp-controller="" asp-action="">Footer From Another Layout</a>
    </div>
</footer>